<h2>ドリンクカテゴリー</h2>

<%= form_with(model: @drink_category, url: admins_drink_categories_path) do |f| %>
<div class="field">
  <%= f.label :name, "カテゴリー名" %>
    <%= f.text_field :name %>
</div>

<%= f.submit "送信" %>
<% end %>