<h1>Admin::Homes#top</h1>
<p>Find me in app/views/admin/homes/top.html.erb</p>

<%= link_to "コメントの管理をする", admin_comments_path, class: "btn btn-primary" %>

<%= link_to "ドリンクカテゴリの管理をする", admin_drink_categories_path, class: "btn btn-primary" %>