


<h1 class = "mt-4 mb-3" >管理者画面</h1>

<%= link_to "ユーザーの管理をする", admin_users_path, class: "btn btn-primary" %>

<%= link_to "企業の管理をする", admin_companies_path, class: "btn btn-primary" %>

<%= link_to "コメントの管理をする", admin_comments_path, class: "btn btn-primary" %>

<%= link_to "ドリンクカテゴリの管理をする", admin_drink_categories_path, class: "btn btn-primary" %>