<div class="nested-fields">
    <%= f.select :drink_category_id, DrinkCategory.all.map { |category| [category.name, category.id] }, include_blank: true, prompt: "ドリンクの種類" %>
    <%= f.text_field :name, placeholder: "ドリンク名" %>
    <%= f.text_field :price, placeholder: "価格" %>
    <%= link_to_remove_association "削除", f %>
</div>
