<h1 class="mt-4 mb-3">title</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>store_image</th>
      <th>store_name</th>
      <th>store_description</th>
      <th></th>
    </tr>
  </thead>
  <tbldy>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <% if post.store_image.attached? %>
            <%= image_tag post.store_image.variant(resize: '50x50') %>
          <% else %>
            <p>NO image</p>
          <% end %>
        </td>
        <td><%= post.store_name %></td>
        <td><%= post.store_description %></td>
        <td> <%= link_to '詳細', companies_post_path(post), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>