<h1 class = "mt-4 mb-3">Nomiya</h1>

<%= link_to "新規登録", new_user_session_path, class: "btn btn-info btn-lg btn-block" %>
<%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-lg btn-block" %><br >
<%= link_to "企業様はこちらから", new_company_session_path, class: "nav_item, nav_link" %>
